<div class="imprint_container fontQuantico">
    <div class="content">
        <div class="langueges">
            <a href="">DE</a>
            <div class="space-content"></div>
            <a href="">EN</a>
        </div>
        <span class="imprint">Imprint</span>
        <div class="adress">
            <span>Eduard Kammerzel</span>
            <span>Im Angel 13 </span>
            <span>55239 Gau-Odernheim</span>
        </div>
        <span class="contact">Contact</span>
        <div class="infos">
            <span class="tele">0176 30666782</span>
            <span class="email">likeaedu&#64;gmail.com</span>
        </div>
        <span class="quelle">Quelle:<a href="https://www.e-recht24.de/impressum- generator.html">https://www.e-recht24.de/impressum- generator.html</a></span>
    </div>
</div>
