@import '../../../styles.scss';

.container {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left, rgb(14, 13, 13), rgb(14, 13, 13), rgb(14, 13, 13));
    @include dFlex($js: center, $ai: flex-end, $g: 0);

    >.contant {
        @include dFlex($js: center, $ai: flex-end, $g: 40px);
        margin-bottom: 130px;
        margin-left: 100px;

        >.reference {
            @include vertical();
            font-size: 54px;
            font-weight: 400;
            -webkit-text-stroke: 1px #B5E93B;
            margin-top: 150px;
            color: rgba(255, 255, 255, 0);
        }
    }
}

.comments_container {
    @include dFlex($js: center, $ai: center, $g: 30px);
    flex-direction: column;
}

.arrow {
    margin-bottom: 400px;
    margin-left: 100px;
    &:hover {
        filter: drop-shadow(0px 0px 5px #B5E93B);
    }
}