* {
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
  }
  
  $prime: #B5E93B;
  
  
  @mixin dFlex($js:center, $ai:center, $g:0px) {
    display: flex;
    justify-content: $js;
    align-items: $ai;
    gap: $g;
  }
  
  @mixin vertical() {
    writing-mode: tb-rl;
    transform: rotate(180deg);
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
  }
  
  .main-content {
    display: flex;
  }
  
  
  #scroll {
    height: 106%;
    overflow-x: scroll;
    overflow-y: hidden;
    // scroll-behavior: smooth;
    overscroll-behavior: none;
  }
  
  #scroll::-webkit-scrollbar{
    background-color: black;
    border-radius: 20px;
    border: 1px solid;
    border-color: #B5E93B;
    color: #B5E93B black;
  }
  /* quantico-regular - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Quantico';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/quantico-v17-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* quantico-italic - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Quantico';
    font-style: italic;
    font-weight: 400;
    src: url('../src/assets/fonts/quantico-v17-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* quantico-700 - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Quantico';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets/fonts/quantico-v17-latin-700italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* quantico-700italic - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Quantico';
    font-style: italic;
    font-weight: 700;
    src: url('../src/assets/fonts/quantico-v17-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  .fontQuantico {
    font-family: 'Quantico';
  }
  
  .scroll-bar {
    scrollbar-width: thin;
    scrollbar-color: $prime;
    scroll-behavior: smooth;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .scroll_smooth {
    scroll-behavior: smooth;
    overscroll-behavior: none;
  }
  
  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translatey(-100%);
    transition: all 2s;
    }
    
    .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    }
