<footer id="contact" class="container_footer fontQuantico"
  [ngClass]="{ 'imprint-footer': isImprintPage || isPolicyPage || isScreenSmall }">
  <div class="footer_imprint" *ngIf="isImprintPage || isPolicyPage || isScreenSmall">
    <img src="./assets/img/Eduard_Kammerzel_Logo.png" alt="Eduard Kammerzel Logo">
    <span class="text">Eduard Kammerzel 2024</span>
    <div class="footer-extra">
      <span><a class="Legal_notice" href="imprint" target="_blank">{{'letuswork.legalnotice' | translate}}</a></span>
      <span><a class="privacy_policy" href="policy" target="_blank">{{'letuswork.privaci' | translate}}</a></span>
    </div>
  </div>
</footer>