@import '../../../styles.scss';

.container_footer {
    background-color: $prime;
    width: 100px;
    height: 100%;
}

.imprint-footer {
    left: 0px;
    height: 150px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    background-color: $prime;
    color: white;
  }

  .footer_imprint {
    height: 100%;
    gap: 20px;
    margin-left: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #4A4A4A;
    >img {
        height: 60px;
    }
    >.text {
        font-size: 20px;
    }
  }