<div class="header-content fontQuantico scroll_smooth">
    <a class="logo" href=""><img src="assets/img/Eduard_Kammerzel_Logo.png" alt=""></a>
    <img (click)="openBurgerMenu()" class="burger_menu" src="assets/img/burger menu.png" alt="">
    <div id="burger_menu" class="open_menu responsov_menu">
        <div class="content" id="burger_menu">
            <img (click)="openBurgerMenu()" class="img" src="assets/img/xpng.png" alt="">
            <div class="container">
                <a (click)="openBurgerMenu()" href="#whyme">Why me</a>
                <a (click)="openBurgerMenu()" href="#skills">My Skills</a>
                <a (click)="openBurgerMenu()" href="#mywork">My Work</a>
                <a (click)="openBurgerMenu()" href="#otherid">Contact me</a>
                <div class="langueges">
                    <a (click)="switchLanguegs('de')" >DE</a>
                    <div class="space-content"></div>
                    <a (click)="switchLanguegs('en')">EN</a>
                </div>
            </div>
        </div>
    </div>
    <div class="infos">
        <a id="contact2" class="link" href="#contact">{{'header.contact' | translate}}</a>
        <a id="work" class="link" href="#mywork">{{'header.mywork' | translate}}</a>
        <a id="myskills" class="link" href="#skills">{{'header.skills' | translate}}</a>
        <a id="whyme2" class="link" href="#whyme">{{'header.whyme' | translate}}</a>
    </div>
</div>