<div id="start" class="content fontQuantico">
    <div class="top">
        <div class="top_bar">
            <div class="social-medias">
                <a href="mailto:likeaedu@mail.com"><img src="../../../assets/img/Vector.png" alt=""></a>
                <a href="https://www.linkedin.com/in/eduard-kammerzel-877b77206/" target="_blank"><img src="../../../assets/img/Vector2.png" alt=""></a>
                <a href="https://github.com/xSportlich" target="_blank"><img src="../../../assets/img/Vector3.png" alt=""></a>
            </div>
            <div class="langueges">
                <a href="">DE</a>
                <div class="space-content"></div>
                <a href="">EN</a>
            </div>
        </div>
    </div>
    <div class="mid">
        <div class="title hidden">
            <div class="name ">Eduard Kammerzel</div> 
            <div class="subtitle">Frontend Developer</div>
        </div>
        <div><img src="../../../assets/img/images (3).jpg" alt=""></div>
        <a href="#whyme"><img src="../../../assets/img/Arrow to switch the sections.png" alt=""></a>
    </div>
</div>
