@import '../../../styles.scss';

.content {
    // padding-left: 172px;
    height: 100%;
    width: 100vw;
    background-image: linear-gradient(to left, rgb(22, 22, 22), rgb(0, 0, 0));
    color: white;

    >.top {
        padding-top: 40px;
        padding-right: 100px;
        position: fixed;
        width: 90vw;
        z-index: 10;
        @include dFlex($js: flex-end, $ai: center, $g: 10px);

        >.top_bar {
            @include dFlex($js: center, $ai: center, $g: 80px);

            >.social-medias {
                display: flex;
                gap: 20px;
                >a:hover  {
                    cursor: pointer;
                    filter: brightness(0) saturate(100%) invert(76%) sepia(89%) saturate(363%) hue-rotate(24deg) brightness(99%) contrast(93%);
                }
            }

            .langueges {
                color: white;

                >a {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        color: $prime;
                    }
                }
            }
        }
    }

    >.mid {
        position: relative;
        box-sizing: border-box;
        @include dFlex($js: center, $ai: center, $g: 0px);
        height: 100%;

        >a {
            position: absolute;
            right: 50px;
            top: 325px;

            &:hover {
                filter: drop-shadow(0px 0px 5px #B5E93B);
            }
        }
    }
}

.langueges {
    @include dFlex($js: center, $ai: center, $g: 10px);
}

.space-content {
    border: 1px solid;
    border-color: white;
    height: 15px;
}

@keyframes appear {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}


.title {
    position: absolute;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;


    >.name {
        font-size: 100px;
        font-weight: 700px;
        color: $prime;
    }

    >.subtitle {
        font-size: 48px;
        font-weight: 700px;
        color: rgba(0, 0, 0, 0);
        -webkit-text-stroke: 1px $prime;
        display: flex;
        justify-content: flex-end;
    }
}