<!-- <div *ngFor="let project of translatedComments; trackBy: trackComment" class="contant hidden">
    <div class="top">
        <div class="top_contant">
            <span class="number">{{ project.number }}</span>
            <span class="headline">Project {{ project.name }}</span>
        </div>
    </div>

    <div class="main">
        <div class="container">
            <div class="mid">
                <div class="text_left">
                    <div class="main_text">
                        <div class="point"></div>
                        <div class="text">
                            <div class="headline">
                                <span class="title">{{'myWork.About' | translate}}</span>
                                <div class="subline">{{ project.text }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="main_text">
                        <div class="point"></div>
                        <div class="text">
                            <div class="headline">
                                <span class="title">{{'myWork.technologies' | translate}}</span>
                                <div class="subline">{{ project.technologies }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="project_img">
                <img [src]="project.img" alt="{{ project.name }}">
                <div class="btn">
                    <a [href]="project.gitHub" target="_blank" class="myButton">GitHub</a>
                    <a [href]="project.liveTest" target="_blank" class="secondButton">Live Test</a>
                </div>
            </div>
        </div>

        <div class="bottom_text">
            <div class="point"></div>
            <div class="text_content">
                <div class="bottom_headline">
                    <span class="title">{{'myWork.learned' | translate}}</span>
                    <div class="subline">{{ project.learned }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="show">
        <input class="expent-btn" type="checkbox">
        <img src="./assets/img/Polygon 2.png" alt="">
    </div>
</div> -->


<div *ngFor="let project of translatedComments; trackBy: trackComment" class="contant hidden">
    <div class="top">
        <div class="top_contant">
            <span class="number">{{ project.number }}</span>
            <span class="headline">Project {{ project.name }}</span>
        </div>
    </div>

    <!-- Checkbox to toggle content visibility -->

    <div class="main">
        <div class="container">
            <div class="mid">
                <div class="text_left">
                    <div class="main_text">
                        <div class="point"></div>
                        <div class="text">
                            <div class="headline">
                                <span class="title">{{ 'myWork.About' | translate }}</span>
                                <div class="subline">{{ project.text }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="main_text">
                        <div class="point"></div>
                        <div class="text">
                            <div class="headline">
                                <span class="title">{{ 'myWork.technologies' | translate }}</span>
                                <div class="subline">{{ project.technologies }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="project_img">
                <img [src]="project.img" alt="{{ project.name }}">
                <div class="btn">
                    <a [href]="project.gitHub" target="_blank" class="myButton">GitHub</a>
                    <a [href]="project.liveTest" target="_blank" class="secondButton">Live Test</a>
                </div>
            </div>
        </div>

        <div class="bottom_text">
            <div class="point"></div>
            <div class="text_content">
                <div class="bottom_headline">
                    <span class="title">{{ 'myWork.learned' | translate }}</span>
                    <div class="subline">{{ project.learned }}</div>
                </div>
            </div>
        </div>
    </div>
    <input type="checkbox" id="toggle-{{project.number}}" class="expent-btn">
    <label for="toggle-{{project.number}}" class="show-more">
        <img src="./assets/img/Polygon 3.png" alt="">
    </label>
</div>