@import '../../../../styles.scss';

.contant {
    width: 919px;
    height: 560px;
    background: #b5e93b3a;
    border-radius: 30px;
    @include dFlex($js: flex-start, $ai: center, $g: 0px);
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    >.top {
        @include dFlex($js: flex-start, $ai: center, $g: 30px);
        width: 100%;

        .top_contant {
            @include dFlex($js: flex-start, $ai: center, $g: 30px);

            >.number {
                font-size: 100px;
                font-weight: 700;
                -webkit-text-stroke: 1px #B5E93B;
                color: rgba(255, 255, 255, 0);
            }

            >.headline {
                font-size: 54px;
                color: $prime;
                display: flex;
                align-items: center;
            }
        }
    }

    .container {
        @include dFlex($js: space-between, $ai: flex-start, $g: 30px);
        width: 100%;
    }

    >.mid {
        @include dFlex($js: flex-start, $ai: center, $g: 30px);

        >.text_left {

            >ul {
                list-style-type: circle;
                list-style: circle;
                color: #B5E93B;
            }
        }
    }
}

.title {
    color: white;
    font-size: 24px;
}

.text {
    color: white;
    font-size: 18px;
    width: 366px;
    display: flex;
    align-items: flex-start;
}

.point {
    border-radius: 50px;
    color: #B5E93B;
    border: 1px solid;
    height: 10px;
    width: 10px;
    margin-top: 10px;
}

.main_text {
    @include dFlex($js: flex-start, $ai: flex-start, $g: 13px);
}

.headline {
    @include dFlex($js: flex-start, $ai: flex-start, $g: 10px);
    flex-direction: column;
}

.myButton {
    background-color: #44c76700;
    border-radius: 30px;
    border: 1px solid $prime;
    display: inline-block;
    cursor: pointer;
    color: $prime;
    font-family: Arial;
    font-size: 14px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #000000;
    width: 46px;
    height: 17px;
}

.myButton:hover {
    background-color: #76834e93;
    color: white;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.secondButton {
    background-color: $prime;
    border-radius: 30px;
    border: 1px solid $prime;
    display: inline-block;
    cursor: pointer;
    color: #4A4A4A;
    ;
    font-family: Arial;
    font-size: 14px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #000000;
    width: 60px;
    height: 17px;
}

.secondButton:hover {
    box-shadow: inset 0 -1em 1em rgba(2, 2, 2, 0.233);
}

.secondButton:active {
    position: relative;
    top: 1px;
}

.btn {
    @include dFlex($js: center, $ai: center, $g: 20px);
}

.subline {
    width: 100%;
}

.bottom_text {
    width: 100%;
    display: flex;
    gap: 13px;
}

.bottom_headline {
    @include dFlex($js: flex-start, $ai: flex-start, $g: 15px);
    flex-direction: column;
    width: 100%;
}

.text_content {
    width: 100%;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: flex-start;
}


.main {
    @include dFlex($js: center, $ai: center, $g: 0px);
    flex-direction: column;
    width: 830px;
}

.project_img {
    display: flex;
    flex-direction: column;
    gap: 20px;

    >img {
        width: 337px;
        height: 203;
        border-radius: 30px;
    }
}

.text_left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.show-more {
    display: none;
}

.expent-btn {
    display: none;
}

@media (max-width: 900px) {


    .container {
        flex-direction: column;
        align-items: center !important;
    }

    .contant {
        justify-content: center;
        height: 100%;
        width: 100%;
        position: relative;
        background: linear-gradient(to top, rgba(181, 233, 59, 0.096), rgba(181, 233, 59, 0.247));
        // --max-lines: 5;
        // display: -webkit-box;
        // overflow: hidden;
        // -webkit-box-orient: vertical;
        // -webkit-line-clamp: var(--max-lines);

        // --max-lines: 10;
        // --line-height: 1.4;
        // max-height: calc(var(--max-lines) * 1em * var(--line-height));
        // line-height: var(--line-height);
    }

    // .contant::before {
    //     content: "";
    //     position: absolute;
    //     height: 100%;
    //     width: 115%;
    //     bottom: 0;
    //     pointer-events: none;
    //     background: linear-gradient(to bottom, #00000000, #00000047);
    //     margin-left: -100px;
    // }

    .main::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 115%;
        bottom: 0;
        pointer-events: none;
        // background: linear-gradient(to bottom, rgba(181, 233, 59, 0),  rgba(181, 233, 59, 0.2274509804));
        margin-left: -100px;
    }

    .expent-btn {
        display: flex;
        appearance: none;
        color: $prime;
    }

    .expent-btn:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .show:hover {
        cursor: pointer;
    }

    .expent-btn::before {
        content: "Show me more";
    }

    .expent-btn:checked::before {
        content: "Show me less";
    }

    .main:has(+ .expent-btn:checked) {
        max-height: none;
        --line-height: none;
        height: none;
    }

    // .expent-btn:checked ~ .main {
    //     max-height: none;
    //     display: block;
    // }
    .contant:has(+ .expent-btn:checked) {
        height: none;
    }

    .show {
        margin-top: 10px;
        display: flex;
        gap: 5px;
    }

    .main {
        position: relative;
        --max-lines: 5;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: var(--max-lines);
        display: -webkit-box;
        --max-lines: 10;
        // --line-height: 1.4;
        max-height: calc(var(--max-lines) * 1.4em);
        ;
        transition: max-height 0.3s ease;
    }

    .project_img {
        margin-top: 300px;
    }

    .bottom_text {
        position: absolute;
        top: 270px;
    }

    .main {
        position: relative;
        width: 100%;
    }

    .number {
        font-size: 80px !important;
    }

    .top_contant {
        >.headline {
            font-size: 45px !important;
        }
    }

    .mid {
        width: 100%;
    }

    .main_text {}

    .text {
        width: 100%;
    }

    .show-more {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: $prime;
        margin-top: 20px;
        position: absolute;
        bottom: 22px;
        margin-left: 110px;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        >img {
            height: 10px;
        }
    }

    .contant {
        position: relative;

        .expent-btn {
            margin-top: 15px;
        }

        .show-more {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            color: $prime;
            margin-top: 10px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }


        .expent-btn:not(:checked)+& .show-more-text {
            display: inline;
        }

        .expent-btn:checked+& .show-less-text {
            display: inline;
        }

        .main {
            max-height: 100px;
            /* Set initial height */
            overflow: hidden;
            transition: max-height 0.3s ease;
        }

        /* When the checkbox is checked, expand the content */
        .expent-btn:checked~.main {
            max-height: 900px;
            /* Adjust this value as needed */
        }

        .expent-btn:checked~.content {
            height: 100% !important;
            /* Adjust this value as needed */
        }

        /* Change the label text when the content is expanded */
        // .expent-btn:checked+.show-more span {
        //     content: "alo";
        // }

        /* Optional: Rotate the image when expanded */
        .expent-btn:checked+.show-more img {
            transform: rotate(180deg);
        }
    }

}


@media (max-width: 320px) {
    .top_contant {
        >.headline {
            font-size: 26px !important;
        }
    }

    .number {
        font-size: 60px !important;
    }

    .title {
        font-size: 21px !important;
    }

    .bottom_text {
        top: 390px !important;
    }

    .project_img {
        margin-top: 430px !important;
        >img {
            width: 212px !important;
        }
    }
    .btn {
        flex-direction: column;
    }
    .subline {
        font-size: 16px !important;
    }
}


@media (max-width: 390px) {
    .bottom_text {
        top: 380px;
    }
    .project_img {
        margin-top: 360px;
    }
}