<div id="whyme" class="content fontQuantico scroll_smooth">
    <div class="container">
        <div class="why-me-text">why me</div>
        <div class="infos-content">
            <div class="about-me">I am motivated to continously learn new technologies and develop myself. <br>My
                ability to solve comlex problems and my passion for programming make me a <br> valueable member of your
                team.</div>
            <div class="i_am">I am</div>
            <div class="icons">
                <div class="info">
                    <div class="img_animation-group">
                        <img src="../../../assets/img/Group 60.png" alt="">
                        <img class="group_extra" src="../../../assets/img/Ellipse 20.png" alt="">
                    </div>
                    <span class="icon-text">Alzey</span>
                </div>
                <div class="info">
                    <div class="img_animation-remote">
                        <img class="pa-img" src="../../../assets/img/Vector 23.png" alt="">
                        <img src="../../../assets/img/Icon Remote.png" alt="">
                    </div>
                    <span class="icon-text">open to work remote</span>
                </div>
                <div class="info">
                    <div class="coffer-animation">
                        <img class="handel" src="../../../assets/img/Rectangle 126.png" alt="">
                        <img class="coffer" src="../../../assets/img/Koffer.png" alt="">
                    </div>
                    <span class="icon-text">open to relocate</span>
                </div>
            </div>
        </div>
        <div class="btn"><a href="#contact" class="myButton">Contact me</a></div>
        <a href="#skills"><img src="../../../assets/img/Arrow to switch the sections.png" alt=""></a>
    </div>
</div>
