@import '../../../styles.scss';

.content {
    // width: 65vw;
    height: 104vh;
    background-image: linear-gradient(to right, rgb(22, 22, 22), rgb(12, 12, 12));
    @include dFlex($js: flex-start, $ai: center, $g: 0);
}

.container {
    @include dFlex($js: center, $ai: center, $g: 20px);
    margin-bottom: 400px;
    position: relative;
    height: 100%;
    width: max-content;
    margin-left: 50px;

    >.why-me-text {
        @include vertical();
        font-size: 54px;
        font-weight: 400;
        -webkit-text-stroke: 1px #B5E93B;
    }

    >a {
        // position: absolute;
        margin-top: 1015px;
        margin-left: 80px;
        &:hover {
            filter: drop-shadow(0px 0px 5px #B5E93B);
        }
    }

    >.infos-content {
        display: flex;
        flex-direction: column;

        >.about-me {
            color: white;
            font-size: 18px;
            margin-bottom: 60px;
        }

        >.i_am {
            font-size: 48px;
            color: $prime;
            font-weight: 700;

        }
    }
}


.icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    >.info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        &:hover .group_extra {
            opacity: 1;
            animation-name: slidein;
            animation-duration: 0.5s;
        }

        &:hover .handel {
            transform: translateY(-10px);
        }

        &:hover .icon-text {
            color: #B5E93B;
        }

        &:hover .pa-img {
            opacity: 1;
            animation-name: slidein;
            animation-duration: 0.5s;
        }

        >.icon-text {
            color: white;
            font-size: 18px;
        }

    }
}

@keyframes slidein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.btn {
    display: flex;
    margin-top: 360px;
}

.myButton {
    width: 115px;
    background-color: #B5E93B;
    border-radius: 28px;
    border: 1px solid #B5E93B;
    display: flex;
    cursor: pointer;
    color: #4A4A4A;
    font-family: Arial;
    font-size: 17px;
    padding: 13px 22px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    justify-content: center;
    align-items: center;

}

.myButton:hover {
    box-shadow:
        inset 0 -1em 1em rgba(2, 2, 2, 0.233),
}

.myButton:active {
    position: relative;
    top: 1px;
}


.img_animation-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    >.group_extra {
        height: 10px;
        width: 20px;
        opacity: 0;
    }
}

.img_animation-remote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.pa-img {
    position: absolute;
    top: 0;
    left: -1px;
    opacity: 0;
}

.coffer-animation {
    position: relative;
    height: 50px;
    margin-right: 34px;
}

.handel {
    position: absolute;
    z-index: 0;
    left: 7px;
    top: 0px;
    transition: 0.7s;
}

.coffer {
    position: absolute;
    z-index: 1;
}