<div id="skills" class="content fontQuantico scroll_smooth">
    <div class="container">
        <div class="my_skill target2">{{'myskills.whyme' | translate}}</div>
        <div class="info_content">
            <div class="text">{{'myskills.text1' | translate}}</div>
            <div>
                <app-icons class="icons-container"></app-icons>
            </div>
            <div class="extra_text">{{'myskills.text2' | translate}}</div>
        </div>
        <a href="#mywork"><img class="arrow" src="../../../assets/img/Arrow to switch the sections.png" alt=""></a>
    </div>
</div>
