<div id="skills" class="content fontQuantico scroll_smooth">
    <div class="container">
        <div class="my_skill">My Skill Set</div>
        <div class="info_content">
            <div class="text">The IT landscape is continously evolving, with new technologies and methodologies.
                <br>Staying motivated to expand my IT skills requires a stategic approach, a curious mindset, and a
                commitment <br> to lifelong learning.</div>
            <div>
                <app-icons class="icons-container"></app-icons>
            </div>
            <div class="extra_text">I am always happy to <br> learn new technologies, <br> just tell me what you meed.</div>
        </div>
        <a href="#mywork"><img class="arrow" src="../../../assets/img/Arrow to switch the sections.png" alt=""></a>
    </div>
</div>
