@import '../../../styles.scss';

.content {
    width: 100%;
    height: 104vh;
    background-image: linear-gradient(to left, rgb(14, 13, 13), rgb(12, 12, 12));
    @include dFlex($js:center,$ai:center,$g:0);

>.container {
    @include dFlex($js: flex-start, $ai: center, $g: 30px);
    // width: 1050px;
    margin-left: 100px;
    >.my_skill {
        @include vertical();
        font-size: 54px;
        font-weight: 400;
        -webkit-text-stroke: 1px #B5E93B;
        margin-top: 385px;
    }
    >.info_content {
        @include dFlex($js:center, $ai:flex-start,$g: 30px);
        flex-direction: column;
        // height: 100%;
        margin-top: 400px;
        position: relative;
        width: max-content;
        >.text {
            color: white;
            font-size: 18px;
        }
    }
}
}

.arrow {
    margin-bottom: 300px;
    margin-left: 120px;
    &:hover {
        filter: drop-shadow(0px 0px 5px #B5E93B);
    }
}

.icons-container {
    // @include dFlex($js:center,$ai:center,$g:0);
    width: 730px;
    flex-wrap: wrap;
    // height: 100px;
    display: flex;
    gap: 60px;
}

.extra_text {
    color: white;
    position: absolute;
    right: 20px;
    bottom: 42px;
    font-size: 18px;
}