<div id="mywork" class="container fontQuantico scroll_smooth">
    <div class="content">
        <div class="headline">
            <span class="my_work target3">{{'myWork.myWork' | translate}}</span>
        </div>
        <div class="ani ">
            <app-projects class="render"></app-projects>
        </div>
        <div class="future_projects">
            <div class="ongoing_top">
                <span class="ongoing_number">3</span>
                <span class="ongoing_headline">{{'myWork.ongoing' | translate}}</span>
            </div>
            <div class="ongoing_text">{{'myWork.text4' | translate}}</div>
            <a class="secondButton" href="#contact">{{'myWork.letstalk' | translate}}</a>
        </div>
    </div>
    <a href="#reference"><img class="arrow" src="../../../assets/img/Arrow to switch the sections.png" alt=""></a>
</div>
