<div id="mywork" class="container fontQuantico scroll_smooth">
    <div class="content">
        <span class="my_work">{{'general.hello' | translate}}</span>
        <div class="ani ">
            <app-projects class="render"></app-projects>
        </div>
        <div class="future_projects">
            <div class="ongoing_top">
                <span class="ongoing_number">3</span>
                <span class="ongoing_headline">Ongoing project</span>
            </div>
            <div class="ongoing_text">I am currently working on developing an <br> online shop for pet foods. <br>
                This is for me  both exciting and <br> challenging. In my work the key to <br> success lies in a good planning and <br> execution.</div>
            <a class="secondButton" href="#contact">Let`s Talke</a>
        </div>
    </div>
    <a href="#reference"><img class="arrow" src="../../../assets/img/Arrow to switch the sections.png" alt=""></a>
</div>
