@import '../../../styles.scss';

.container {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left, rgb(14, 13, 13), rgb(14, 13, 13), rgb(14, 13, 13));
    @include dFlex($js: center, $ai: center, $g: 0);

    >.contant {
        width: 486px;
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-right: 20px;
        gap: 170px;

        >.material {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: end;

            >.headline {
                font-size: 18px;
                color: #D3ED97;
            }

            >.text {
                color: white;
                text-align: end;
            }

            >.person_infos {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: end;

                >.email_info {
                    color: white;
                    text-align: end;
                    @include dFlex($js: center, $ai: center, $g: 5px);

                    &:hover {
                        text-decoration: underline;
                        color: #D3ED97;
                    }
                }

                >.tele_info {
                    color: white;
                    text-align: end;
                    @include dFlex($js: center, $ai: center, $g: 5px);

                    &:hover {
                        text-decoration: underline;
                        color: #D3ED97;
                    }
                }
            }
        }


        >.extra_infos {
            color: white;
            text-align: end;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

    }
}

.contactme {
    font-size: 54px;
    font-weight: 400;
    -webkit-text-stroke: 1px #B5E93B;
    color: rgba(255, 255, 255, 0);
    display: none;
}

.Legal_notice {
    text-decoration: none;
    color: white;

    &:hover {
        cursor: pointer;
        color: #D3ED97;
    }
}

.privacy_policy {
    text-decoration: none;
    color: white;

    &:hover {
        cursor: pointer;
        color: #D3ED97;
    }
}

.arrow {
    transform: rotate(181deg);
    justify-content: end;
    margin-right: 2px;

    &:hover {
        filter: drop-shadow(0px 0px 5px #B5E93B);
    }
}

@media (max-width: 900px) {
    .contactme {
        display: flex;
    }
    .contant {
        align-items: start !important;
        margin-right: 0px !important;
        gap: 20px !important;
        width: 100% !important;
        padding: 20px;
    }
    .material{
        align-items: start !important;
        gap: 30px !important;
        >.text {
            text-align: start !important;
        }
    }
    .person_infos {
        align-items: start !important;
    }
    .arrow {
        display: none;
    }
    .extra_infos {
        display: none !important;
    }
}

@media (max-width: 510px) {
    .contant {
        padding: 20px !important;
    }
}

@media (max-width: 390px) {
    .contactme {
      font-size: 32px !important;
    }
  }