<div id="otherid" class="container fontQuantico">
    <div class="contant">
        <span class="contactme">Contact Me</span>
        <div class="material">
            <span class="headline">{{'letuswork.text1' | translate}}</span>
            <div class="text">
                {{'letuswork.text2' | translate}}
            </div>
            <div class="person_infos">
                <div class="email_info">
                    <img src="assets/img/mail.png" alt="">
                    <span class="email">E-mail: likeaedu&#64;gmail.com</span>
                </div>
                <div class="tele_info">
                    <img src="assets/img/icon _phone_.png" alt="">
                    <span class="tele">Tel: 0176 30666782</span>
                </div>
            </div>
        </div>
        <div>
            <a href="#start"><img class="arrow" src="assets/img/Arrow to switch the sections.png" alt=""></a>
        </div>

        <div class="extra_infos">
            <span><a class="Legal_notice" href="imprint" >{{'letuswork.legalnotice' | translate}}</a></span>
            <span><a class="privacy_policy" href="policy" >{{'letuswork.privaci' | translate}}</a></span>
            <span>Eduard Kammerzel 2024</span>
        </div>
    </div>
</div>
