<div class="container fontQuantico">
    <div class="contant">
        <div class="material">
            <span class="headline">Let us work together</span>
            <div class="text">
                Whether your project involves developing a new application, upgrading existing systems,
                or implementing robust cybersecurity measures,
                I have the technical acumen and problem-solving skills to ensure successful outcomes.
            </div>
            <div class="person_infos">
                <div class="email_info">
                    <img src="../../../assets/img/mail.png" alt="">
                    <span class="email">E-mail: likeaedu&#64;gmail.com</span>
                </div>
                <div class="tele_info">
                    <img src="../../../assets/img/icon _phone_.png" alt="">
                    <span class="tele">Tel: 0176 30666782</span>
                </div>
            </div>
        </div>
        <div>
            <a href="#start"><img class="arrow" src="../../../assets/img/Arrow to switch the sections.png" alt=""></a>
        </div>

        <div class="extra_infos">
            <a class="Legal_notice" href="imprint" target="_blank"><span>Legal notice</span></a>
            <a class="privacy_policy" href="policy" target="_blank"><span>privacy policy</span></a>
            <span>Eduard Kammerzel 2024</span>
        </div>
    </div>
</div>
