@import '../../../../styles.scss';

.contant {
    width: 478px;
    height: 182px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid;
    border-color: $prime;
    border-radius: 30px;
    padding: 10px;
    @include dFlex($js: center, $ai: center, $g: 20px);

    >.text {
        color: white;
        font-size: 18px;
        text-align: center;
        height: 100%;
        width: 300px;
        @include dFlex($js: center, $ai: center, $g: 0);
    }

    >.line {
        border: 1px solid;
        border-radius: 30px;
        height: 120px;
        border-color: $prime;
    }

    >.person {
        @include dFlex($js: center, $ai: center, $g: 0);
        flex-direction: column;
        >.name {
          color: $prime;
          font-size: 24px;
        }
        >.project {
            font-size: 14px;
            color: #D3ED97;

        }
    }
}