@import '../../../../styles.scss';

.contant {
  width: 478px;
  height: 182px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid;
  border-color: $prime;
  border-radius: 30px;
  padding: 10px;
  @include dFlex($js: center, $ai: center, $g: 20px);



  >.text {
    color: white;
    font-size: 18px;
    text-align: center;
    height: 100%;
    width: 300px;
    @include dFlex($js: center, $ai: center, $g: 0);
  }

  >.line {
    border: 1px solid;
    border-radius: 30px;
    height: 120px;
    border-color: $prime;
  }

  >.person {
    @include dFlex($js: center, $ai: center, $g: 0);
    flex-direction: column;

    >.name {
      color: $prime;
      font-size: 24px;
    }

    >.project {
      font-size: 14px;
      color: #D3ED97;

    }
  }
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 900px) {
  .comments_wrapper {
    width: 100%;
    position: relative;
  }

  .comments_slider {
    display: flex !important;
    transition: transform 0.5s ease-in-out;
    gap: 30px;
  }

  .gap {
    display: flex;
    flex-direction: row;
  }

  .comment {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }

  .hidden {
    transition: none;
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 510px) {
  .contant {
      width: 100% !important;
      padding: 20px !important;
  }
  .comment {
    // min-width: 85% !important;
    width: 100%;
  }
  .text {
    font-size: 14px !important;
  }
}

@media (max-width: 450px) {
  .comment {
      // min-width: 75% !important;
  }
}

@media (max-width: 420px) {
  .comment {
      // min-width: 70% !important;
  }
}

@media (max-width: 380px) {
  
  .comment {
    flex-direction: column;
    height: 100%;
    // min-width: 50% !important;
  }

  .text {
    width: 100% !important; 
  }

  .line {
    height: 0px !important;
    width: 80%;
  }
}
